.edit-profile-page {
    width: 99.85vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.edit-profile-mid-element {
    width: 70vw;
    height: 100vh;
}

.edit-profile-header-element {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    padding: 1vw;
    border-radius: 8px;
    background-color: var(--button-second-color);

    margin-bottom: 2vh;
}
.edit-profile-header-element img {
    width: 5vw;
    height: 5vw;
}
.edit-profile-header-element svg {
    width: 1vw;

    margin-left: 0.7vw;
}
.edit-profile-header-element span {
    font-family: "Roboto", sans-serif;
    font-size: 13px;

    color: var(--button-text-color);

    margin-left: 0.7vw;
}

.edit-profile-menu-and-handlers-area {
    width: 70vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.edit-profile-nav-menu {
    width: 20vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}
.edit-profile-menu-option {
    cursor: pointer;
    min-width: 18vw;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    padding-left: 1vw;
    padding-right: 1vw;

    margin-top: 0vh;
    margin-bottom: 0.5vh;

    border-radius: 4px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    background-color: transparent;
    transition: background-color 0.3s;
}
.edit-profile-menu-option:hover {
    background-color: var(--button-second-color);
    transition: background-color 0.3s;
}

.edit-profile-edit-option-1 {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.edit-profile-edit-option-1-first-container {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}
.edit-profile-edit-option-1-first-container h2 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;

    color: white;

    margin-bottom: 0.5vh;
}
.edit-profile-edit-option-1-first-container p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;

    color: rgba(255, 255, 255, 0.6);
}

.edit-profile-edit-option-1-second-container {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 2vh;
}
.edit-profile-edit-option-1-second-container input {
    border: none;
    outline: none;

    width: 15vw;

    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 0.5vh;
    padding-right: 0.5vh;

    color: white;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background-color: var(--action-top-bar-button-hover);

    margin-bottom: 0.5vh;
}
.edit-profile-edit-option-1-second-container textarea {
    border: none;
    outline: none;
    resize: none;

    width: 25vw;
    height: 30vh;

    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 0.5vh;
    padding-right: 0.5vh;

    color: white;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background-color: var(--action-top-bar-button-hover);

    margin-bottom: 1vh;
}
.edit-profile-edit-option-1-second-container button {
    cursor: pointer;
    border: none;
    outline: none;

    width: 10vw;

    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 0.5vh;
    padding-right: 0.5vh;

    color: white;

    border-radius: 4px;

    background-color: var(--button-first-color);
}

.edit-profile-edit-option-2 {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}
.edit-profile-edit-option-2-first-container {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 2vh;
}
.edit-profile-edit-option-2-first-container h2 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;

    color: white;

    margin-bottom: 0.5vh;
}
.edit-profile-edit-option-2-first-container p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;

    color: rgba(255, 255, 255, 0.6);
}
.edit-profile-edit-option-2-second-container {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-end;

    margin-bottom: 2vh;
}

.edit-profile-edit-option-2-third-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;
}
.edit-profile-edit-option-2-third-container-avatar-container {
    cursor: pointer;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;

    transition: transform 0.3s;
}
.edit-profile-edit-option-2-third-container-avatar-container:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.edit-profile-edit-option-3 {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}
.edit-profile-edit-option-3-first-container {
    width: 50vw;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 2vh;
}
.edit-profile-edit-option-3-first-container h2 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;

    color: white;

    margin-bottom: 0.5vh;
}
.edit-profile-edit-option-3-first-container p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;

    color: rgba(255, 255, 255, 0.6);
}

.edit-profile-edit-option-3-preview-box {
    width: 16vw;
    height: 9vw;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    margin-bottom: 2vh;
}
.edit-profile-edit-option-3-preview-box-mid-element {
    width: 8vw;
    height: 9vw;

    background-color: rgba(0, 0, 0, 0.8);
}
.edit-profile-edit-option-3-background-list {
    width: 40vw;
    height: 20vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;
}
.edit-profile-edit-option-3-background-item {
    cursor: pointer;
    width: 8vw;
    height: 9vw;

    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    transition: transform 0.3s;
}
.edit-profile-edit-option-3-background-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
