<html>
    <head>
        <title>Update Application</title>

        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./update.css" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="att-area">
            <div id="control"></div>

            <label for="Download" id="download-label"></label>
            <progress id="download" max="100" value="0" ></progress>
        </div>
        

        <script src="../lib/update/update.js"></script>
    </body>
</html>